/* לואודר גלובלי - חייב להישאר כאן כי הוא מעל הכל */
.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10001;
  height: 4px;
}

/* הגדרות בסיס שימנעו גלילה כפולה ובעיות גובה */
:host {
  display: block;
  height: 100vh;
  width: 100%;
}