<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-left">
      <span class="copyright">© 2026 TaskFlow. All rights reserved.</span>
    </div>

    <div class="footer-center">
      <div class="support-info">
        <div class="support-item">
          <mat-icon>mail_outline</mat-icon>
          <span>support@taskflow.com</span>
        </div>
        <span class="separator">|</span>
        <div class="support-item">
          <mat-icon>headset_mic</mat-icon>
          <span>Help Center</span>
        </div>
      </div>
    </div>
    <div class="footer-right">
      <div class="status-indicator">
        <span class="dot"></span>
        System Online
      </div>
    </div>
  </div>
</footer>
