<div class="view-controls">
  <button [class.active]="viewMode() === 'list'" (click)="setViewMode('list')">
    List
  </button>

  <button [class.active]="viewMode() === 'board'" (click)="setViewMode('board')">
    Board
  </button>
</div>

<div class="main-content">

  @if (viewMode() === 'board') {
  <div class="board-container">
    @for (column of boardTasks(); track column.title) {
    <div class="board-column">
      <h3>{{ column.title }}</h3>

      <div class="column-tasks">
        @for (task of column.tasks; track task.id) {
        <app-task-card [task]="task" [viewMode]="'board'" (delelteTask)="onDeleteTask($event)"
          (updateTask)="onTaskUpdated($event)">
        </app-task-card>
        }@empty {
        <div class="empty-state">
          <p>All done! You don't have any tasks at the moment.</p>
          <button (click)="addTask()">Add your first task</button>
        </div>
        }
      </div>
    </div>
    }
  </div>
  }

  @else {
  <div class="list-container">
    <div class="list-header">
      <span class="title">Title</span>
      <span class="priority">Priority</span>
      <span class="status">Status</span>
      <span class="date">Due Date</span>
    </div>
    @for (task of tasks(); track task.id) {
    <app-task-card [task]="task" [viewMode]="'list'" (delelteTask)="onDeleteTask($event)"
      (updateTask)="onTaskUpdated($event)">
    </app-task-card>
    }@empty {
    <div class="empty-state">
      <p>All done! You don't have any tasks at the moment.</p>
      <button (click)="addTask()">Add your first task</button>
    </div>
    }
  </div>
}


  @if(isAddingTask()) {
  <app-add-task (taskSaved)="closeAddTask()"></app-add-task>
  }
  <button (click)="addTask()">Add</button>

</div>



<a routerLink="/teams" routerLinkActive="active-btn" class="nav-btn">Teams</a>
<a routerLink="/projects" routerLinkActive="active-btn" class="nav-btn">Projects</a>
<router-outlet></router-outlet>